@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    scroll-behavior: smooth !important;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
    transition: 0.6s width ease-out;
}

@layer base {
    .btn-gradient {
        @apply !bg-gradient !bg-[length:300%_300%] hover:saturate-[1.2] shadow duration-100 !border-0 !border-transparent !bg-transparent animate-shimmer disabled:!bg-none disabled:!bg-gray-500/30  !text-white;
    }

    .btn {
        @apply !text-white;
    }

    .heading {
        @apply text-2xl md:text-3xl lg:text-4xl font-extrabold pb-4 md:pb-6
    }

    .subheading {
        @apply text-xl md:text-2xl font-bold py-2
    }

    .paragraph {
        @apply pb-2 md:pb-4
    }

    .form-field {
    }

    .custom-input {
        @apply input input-bordered w-full
    }

    .inline-table-label {
        @apply block md:hidden font-bold text-sm mt-2
    }

    .custom-table-input {
        @apply input border border-black/20 md:border-x-0 shadow-sm text-sm md:text-base w-full h-auto py-2 px-1.5 md:px-2 md:rounded-none
    }

    .wip-background {
        background-color: rgba(229, 229, 247, 0.4);
        background-image: linear-gradient(rgba(68, 76, 247, 0.1) 2px, transparent 2px), linear-gradient(90deg, rgba(68, 76, 247, 0.1) 2px, transparent 2px), linear-gradient(rgba(68, 76, 247, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(68, 76, 247, 0.1) 1px, #e5e5f7 1px);
        background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
        background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    }
}
